services:
   chat:
     container_name: chat
     build: .
     command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
     volumes:
       - .:/chat
     restart: always
     ports:
       - "80:8000"
     environment:
       - DB_HOST=postgres
       - DB_USER=chat
       - DB_PASS=chat
       - DB_NAME=chat
       - REDIS_HOST=redis
     depends_on:
       - postgres
       - redis
     networks:
       - main
   postgres:
     container_name: postgres
     image: postgresql:16
     restart: always
     volumes:
       - postgres_data:/var/lib/postgresql/data
     environment:
       - POSTGRES_DB=chat
       - POSTGRES_USER=chat
       - POSTGRES_PASS=chat
     expose:
       - "5432"
     networks:
       - main

   redis:
     container_name: redis
     image: redis
     restart: always
     expose:
       - "6379"
     networks:
       - main

networks:
   main:

volumes:
   postgres_data: